.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the color and transparency as needed */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  z-index: 1;
}

.loader {
  animation: spin 1.5s linear alternate infinite;
  background: #f04714;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
  z-index: 2;
}

.loader:before {
  background: #b73f41;
  border-radius: 50%;
  content: "";
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 3;
}

.loader:after {
  background: #262e2a;
  border-radius: 50%;
  box-shadow: 0em -2.6em #262e2a, 2.25em -1.25em #262e2a, 2.25em 1.25em #262e2a,
    0em 2.6em #262e2a, -2.25em 1.25em #262e2a, -2.25em -1.25em #262e2a;

  content: "";
  display: block;
  height: 2em;
  width: 2em;
  z-index: 2;
}

.inner {
  animation: load 1.5s linear alternate infinite;
  border: solid 1px #cff318;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}

.loader,
.loader:before,
.loader:after,
.inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(60deg);
  }

  30% {
    transform: rotate(120deg);
  }

  45% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(240deg);
  }

  75% {
    transform: rotate(300deg);
  }

  90% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
